In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [21]:
# Load the data for October
data = pd.read_csv('Q3_Sikka data.csv', parse_dates=['Date'], index_col='Date')

data

              DAU  Installs  Uninstalls  Signups  Referrals
Date
2022-10-01  24071      6630        6994     3511      962.0
2022-10-02  23548      6366        6669     3387      941.0
2022-10-03  24572      6936        6899     3654      940.0
2022-10-04  24212      6561        6766     3532      960.0
2022-10-05  23247      6059        6402     3315      923.0
2022-10-06  24330      6230        6780     3288      822.0
2022-10-07  24213      6925        7073     3562      957.0
2022-10-08  25099      7826        7790     4110      994.0
2022-10-09  24099      8937        8149     4114     1016.0
2022-10-10  25156      8139        8215     4974     1186.0
2022-10-11  24497      7308        7532     4347     1161.0
2022-10-12  24152      8020        7867     4404     1193.0
2022-10-13  24094      7097        7081     4211      987.0
2022-10-14  21589      6729        7065     3494      860.0
2022-10-15  20829      5659        6519     2967      772.0
2022-10-16  22222      5861        6552     3096     1052.0
2022-10-17  20943      5860        6455     2828      801.0
2022-10-18  20180      6070        6611     2559      572.0
2022-10-19  19737      5267        6102     2278      606.0
2022-10-20  20148      5467        6125     2854      700.0
2022-10-21  17343      3845        4916     1726      512.0
2022-10-22  16270      3703        4727     1705      530.0
2022-10-23  15223      3397        4314     1545      484.0
2022-10-24  13482      3074        3904     1363      384.0
2022-10-25  14244      3714        4541     1658      435.0
2022-10-26  14659      3885        4564     1740      491.0
2022-10-27  14896      3707        4563     1905      551.0
2022-10-28  14473      3735        4381     1799      555.0
2022-10-29  13390      4072        4695     1872      536.0
2022-10-30  13370      3543        4343     1942      573.0
2022-10-31  13236      3313        4057     1562      419.0
2022-11-01  12816      3763        4149     1806        NaN
2022-11-02  12812      3087        3868     1550        NaN
2022-11-03  12042      3176        3815     1410        NaN
2022-11-04  12595      3172        3878     1629        NaN
2022-11-05  12361      3390        4021     1578        NaN
2022-11-06  13166      3441        4071     1656        NaN
2022-11-07  12565      3468        4011     1556        NaN
2022-11-08  12988      4468        4143     1808        NaN
2022-11-09  12992      4491        4638     2017        NaN
2022-11-10  13377      4261        4480     1997        NaN
2022-11-11  13826      4274        4512     2047        NaN
2022-11-12  13464      4660        4856     2066        NaN
2022-11-13  13415      4416        4749     2147        NaN
2022-11-14  13873      4097        4305     2065        NaN
2022-11-15  14459      4890        4593     2707        NaN

In [22]:
data.head()

              DAU  Installs  Uninstalls  Signups  Referrals
Date
2022-10-01  24071      6630        6994     3511      962.0
2022-10-02  23548      6366        6669     3387      941.0
2022-10-03  24572      6936        6899     3654      940.0
2022-10-04  24212      6561        6766     3532      960.0
2022-10-05  23247      6059        6402     3315      923.0

In [23]:
data.columns

Index(['DAU', 'Installs', 'Uninstalls', 'Signups', 'Referrals'], dtype='object')

In [25]:
#Prepare the data
# Select the columns needed for training the model
X = data.loc['2022-10-01':'2022-10-31', ['Installs', 'DAU']]
y = data.loc['2022-10-01':'2022-10-31', 'Referrals']

# Print the first 5 rows of X and y
print(X.head())
print(y.head())

            Installs    DAU
Date
2022-10-01      6630  24071
2022-10-02      6366  23548
2022-10-03      6936  24572
2022-10-04      6561  24212
2022-10-05      6059  23247
Date
2022-10-01    962.0
2022-10-02    941.0
2022-10-03    940.0
2022-10-04    960.0
2022-10-05    923.0
Name: Referrals, dtype: float64

In [26]:
#Train the model
from sklearn.linear_model import LinearRegression

# Create an instance of the linear regression model
lr_model = LinearRegression()

# Fit the model to the data
lr_model.fit(X, y)

LinearRegression()

In [27]:
#Make predictions
# Select the columns needed for making predictions
X_pred = data.loc['2022-11-01':'2022-11-15', ['Installs', 'DAU']]

# Make predictions
y_pred = lr_model.predict(X_pred)

# Print the predictions
print(y_pred)

[449.79294125 399.50866027 386.61360252 400.32263469 410.57932278
 434.75375769 421.53642602 506.48502111 508.29373895 500.9706446
 513.30763991 532.79394699 513.43953101 501.35839665 575.06865527]

In [28]:
print([int(x) for x in y_pred])

[449, 399, 386, 400, 410, 434, 421, 506, 508, 500, 513, 532, 513, 501, 575]